[submodule "lib/clojure/clj-record"]
	path = lib/clojure/clj-record
	url = git://github.com/duelinmarkers/clj-record.git
[submodule "lib/clojure/clj-utils"]
	path = lib/clojure/clj-utils
	url = git://github.com/amitrathore/clj-utils.git
[submodule "lib/clojure/postal"]
	path = lib/clojure/postal
	url = git://github.com/drewr/postal.git
